<html>
    <head>
        <title>Examen - Software Developer NodeJS</title>
        <meta charset="UTF-8">
        <style type="text/css">
body{
    margin-left:200px;
    margin-right:200px;
    
    padding:0
}
h1 {
    text-align:center
}
        </style>
    </head>
    <body>
      <center><img src="https://gestion.fitcolatam.com/hs-fs/hubfs/Logo_Verde-3.png?width=943&name=Logo_Verde-3.png" alt="Logo" width="150"/></center>
      <h1>Examen - Software Developer NodeJS</h1>
      <p style="text-align:center">El examen ya fue resuelto con anterioridad.</p>

    </body>
</html>
